<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<!-- 
<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

content tag neymis bakiver. 
-->